body {
    margin: 0;
    padding : 10px ;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width : 100%;
    padding: 10px;
    border: 1px solid green;
    box-sizing: border-box;
}

button {
    background-color: green;
    padding : 7px 14px ;
    color : white ;
    font-weight: bold;
    margin-top: 5px;
    border: 0;
}

ul {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

li a {
    color : green ;
}

/* html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#box {
    cursor: pointer;
    background: lightseagreen;
    padding: 40px;
    width: 200px;
    text-align: center;
    margin: 20px auto;
    color: white;
    font-weight: bold;
} */